@font-face {
    font-family: Gotham;
    src: url('Fonts/Gotham-Book.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.container {
    height: auto;
}

header {
    width: 100%;
    height: 80px;
    text-align: center;
}

header img {
    margin: 15px;
}

nav {
    width: 100%;
    height: 50px;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    padding: 15px 40px;
    text-align: center;
}

input[type=text] {
    border: 0;
    outline: 0; 
    color: #7f7f7f; 
    width: 50px
}

input[type=text]:focus {
  width: 100px;
}

nav ul {
    list-style-type: none;
}

nav ul li#login_button a {
    float: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #686868;
}

nav ul li a{
    text-decoration: none;
    font-family: Gotham;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #686868;
}

nav ul a:hover {
    color: #DF8F76;
    transition-duration: 1s;
}

nav ul li#login_button a:hover {
    text-decoration: underline;
}

nav ul li {
    display: inline;
}

nav ul li.principal {
    margin-right: 0;
    margin-left: 50px;
}

section {
    height: auto;
}

.nav_bottom {
    float: left;
    width: 100%;
    padding: 20px 40px;
    
}

.nav_bottom a {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #AEB6C1;
}

.nav_bottom a:hover {
    text-decoration: underline;
}

ul#mini {
    display: inline-block;
    width: 80px;
    list-style-type: none;
    padding: 20px 0 0 40px;
    font-size: 12px;
    color: #DF8F76;
    font-family: sans-serif;
}

ul#mini li {
    padding: 0 0 5px 0;
}

ul#mini li img {
    width: 80px;
}

ul#mini li#up img, ul#mini li#down img {
    width: 15px;
    margin-left: 33px;
}

ul#mini li#up img, ul#mini li#down img, ul#mini li#play img:hover {
    cursor: pointer;
}

ul#mini li#play {
    margin-left: 25px;
}

ul#mini li#play img {
    width: 30px;
}

#produto {
    display: inline-block;
    width: 430px;
    margin: 0 100px;
}

.card {
    display: inline-block;
    padding: 10px;
    border: 2px solid #AFB5C1;
    border-radius: 2px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #202020;
    text-align: left;
}

.card ul#cores {
    margin-top: 15px;
    list-style-type: none;
}

.card ul#cores li#roxo, .card ul#cores li#fucsia, .card ul#cores li#marrom, .card ul#cores li#preto:hover {
    cursor: pointer;
}

.card ul#cores li#roxo {
    float: left;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #A50C5F;
    margin: 0 15px 0 0;
}

.card ul#cores li {
    float: left;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0 15px 0 0;
}

.card ul#cores li#fucsia {
    background-color: #6B85C0;
}

.card ul#cores li#marrom {
    background-color: #9E4A31;
}

.card ul#cores li#preto {
    background-color: #000000;
}

.card ul#tamanhos {
    list-style-type: none;
    font-family: Gotham;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2A5A75;
}

.card ul#tamanhos li#um, .card ul#tamanhos li#dois, .card ul#tamanhos li#tres:hover {
    cursor: pointer;
}

.card ul#tamanhos li {
    float: left;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 2px 0 0;
    background-color: #EBEBEB;
}

.card ul#tamanhos li p {
    margin-top: 5px;
}

.card img#button_add {
    margin-top: 50px;
}

.card img#button_add:hover {
    cursor: pointer;
}

.section_products {
    clear: both;
    height: auto;
    width: 100%;
    padding-bottom: 150px;
}

.section_products p#tittle_products {
    font-family: Gotham;
    font-size: 26px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #DE8F75;
}

.section_products img:hover {
    cursor: pointer;
}

.section_products p#title_products {
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: #DF8F76;
    text-align: center;
    padding: 150px 0 40px 0;
}

.section_products ul#products_bottom li {
    display: inline-block;
    margin-right: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #202020;
}

.section_products img#products_button_left, .section_products img#products_button_right, .section_products p#number_list {
    display: inline;
    padding: 20px 5px 0 5px;
}

.section_products p#number_list {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #2A5A75;
}

.section_products img#products_button_left {
    opacity: 0.5;
}

.top_footer {
    position: relative;
    border-top: 2px solid #AFB5C1;
}

.top_footer .topFooter_title {
    font-family: Gotham;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: #AEB6C1;
}

.top_footer ul {
    list-style-type: none;
    padding: 30px 90px 20px 0;
}

.top_footer ul a {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    color: #202020;
}

.top_footer ul#redes_sociais li {
    float: left;
    padding: 25px 20px 0 15px;
}

.top_footer ul#instituicao {
    float: left;
    margin-left: 40px;
}

.top_footer ul#info {
    float: left;
    margin-left: 40px;
}

.bottom_footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #DF8F76;;
    padding: 25px;
}

.box_paragraph {
    margin-left: 80px;
}

.bottom_footer img {
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.bottom_footer p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

footer {
    height: auto;
    width: 100%;
}